<div style="display: flex; align-items: center;">
    <a href="https://itunes.apple.com/us/app/fireship/id1462592372?mt=8"><img width="170px" alt="Get it on the Apple App Store"src='/img/app-store-badge.svg'/></a>
    <a href='https://play.google.com/store/apps/details?id=io.fireship.quizapp&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img width="210px" alt="Get it on Google Play" src='https://play.google.com/intl/en/badges/images/generic/en_badge_web_generic.png'/></a>
  </div>