

{{ $active := .active }}

<nav class="chapters-list">
        <h2>Chapters</h2>
  {{ range .chapters }}

    {{ with .Params.chapter_start }}
        <h3>{{ . }}</h3>
    {{ end }}

    <a href="{{ .RelPermalink }}">
        <div class="box box-sm {{ if eq $active .RelPermalink }}box-blue-bookmark{{ end }}">
        <i class="box-icon" >
            {{ if .Params.icon }}

            {{ partial  (print "svg/" .Params.icon ".svg") }}

            {{ else if .Params.emoji }}
            <div>
                <i class="emoji">{{ .Params.emoji }}</i>
            </div>


            {{ else }}

            {{ partial "svg/video.svg" }}

            {{ end }}



        </i>

        <div class="box-content">
            <div>
            <strong>{{ .Params.weight }} {{ .Title }}</strong> |
            {{ .Description }}

            </div>
            {{ with .Params.free }}
                <span class="tag tag-pro tag-sm">free</span> 
            {{ end }}
        </div>

      
      </div>
    </a>

  {{ end }}
</nav>
