

{{ $active := .active }}

<div class="chapters-wrap">
  {{ range $index, $element := .chapters }}

    {{ with .Params.chapter_start }}
        <h3>{{ . }}</h3>
    {{ end }}

    <a href="{{ .RelPermalink }}">
        <div class="box box-sm chapter-item {{ if eq $active .RelPermalink }}box-bookmark{{ end }}">
        <i class="box-icon">
            {{ if .Params.icon }}

            {{ partial  (print "svg/" .Params.icon ".svg") }}

            {{ else if .Params.emoji }}
            <div>
                <i class="emoji">{{ .Params.emoji }}</i>
            </div>


            {{ else }}

            {{ partial "svg/video.svg" }}

            {{ end }}



        </i>

        <div class="box-content">
            <strong>{{ add $index 1 }} {{ .Title }}

            </strong> 

            <span class="subtext">{{ .Description }}</span>
      
        </div>

        <div class="video-labels">

            {{ with .Params.free }}
            <span class="tag tag-sm tag-pro">free</span> 
            {{ end }}

            {{ with .Params.video_length }}
                <span class="tag tag-sm">{{ . }}</span>
            {{ end }}
        </div>

        
      
      </div>
    </a>

  {{ end }}
</div>
