<div class="row center-xs">

    <!-- <div class="col-xs-12 col-12">


    </div> -->


<a class="card card-course" href="/courses/stripe-payments">
    <div class="card-content">
        <div class="text-center"><img src="/courses/stripe-payments/img/featured.png"></div>
        <h3>Stripe Payments Master Course</h3>
        Build a custom payment solution with Stripe, Firebase, and NodeJS.

        <button class="btn btn-green btn-block">Start</button>
    </div>
</a>

<a class="card card-course" href="/courses/cloud-functions">
    <div class="card-content">
        <div class="text-center"><img src="/courses/cloud-functions/img/featured.png"></div>
        <h3>Cloud Functions Master Course</h3>
        Master the fundamentals of serverless with Firebase Cloud Functions where we build seven different microservices from scratch.
    
        <button class="btn btn-green btn-block">Start</button>
    </div>


</a>
    
</div>