
<div class="row row-max-2">

    <a class="card card-course" href="/courses/react-next-firebase">
        <div class="card-content">
            <div class="text-center"><img src="/courses/react-next-firebase/img/featured.jpg"></div>
            <h3>React Firebase Full Course</h3>
            Build a fullstack server-rendered webapp with React, Next.js, and Firebase 

            <button class="btn btn-green btn-block">Start</button>
        </div>
    </a>

    <a class="card card-course" href="/courses/git">
        <div class="card-content">
            <div class="text-center"><img src="/courses/git/img/featured.jpg"></div>
            <h3>The Git & GitHub Course</h3>
            Learn how to use git like a pro and supercharge your software development workflow

            <button class="btn btn-green btn-block">Start</button>
        </div>
    </a>
    
    
</div>

<div class="row-max-2">

    <a class="card card-course" href="/courses/stripe-js">
        <div class="card-content">
            <div class="text-center"><img src="/courses/stripe-js/img/featured.jpg"></div>
            <h3>Stripe Payments Master Course</h3>
            Build a fullstack payment solution with Node.js and React.  
    
            <button class="btn btn-green btn-block">Start</button>
        </div>
    </a>
    

    <a class="card card-course" href="/courses/vue">
        <div class="card-content">
            <div class="text-center"><img src="/courses/vue/img/featured.jpg"></div>
            <h3>Vue Firebase Project Course</h3>
            Build a basic voice chat prototype using Vue & Firebase.
            <button class="btn btn-green btn-block">Start</button>
        </div>
    </a>
    

        <a class="card card-course" href="/courses/angular">
            <div class="card-content">
                <div class="text-center"><img src="/courses/angular/img/featured.jpg"></div>
                <h3>Angular 9 Firebase Project Course</h3>
                Build a high-performance progressive web application (PWA) with Angular & Firebase
                <button class="btn btn-green btn-block">Start</button>
            </div>
        
        </a>

        <a class="card card-course" href="/courses/flutter-firebase">
            <div class="card-content">
                <div class="text-center"><img src="/courses/flutter-firebase/img/featured.jpg"></div>
                <h3>Flutter Firebase App from Scratch</h3>
                Build a complex production-ready app from scratch with Flutter and Firebase 
        
                <button class="btn btn-green btn-block">Start</button>
            </div>
        </a>
        

    <a class="card card-course" href="/courses/javascript">
        <div class="card-content">
            <div class="text-center"><img src="/courses/javascript/img/featured.jpg"></div>
            <h3>That Weird JavaScript Course</h3>
           
            Learn the history, science, and practical programming techniques of JavaScript. 
        
            <button class="btn btn-green btn-block">Start</button>
        </div>


    </a>




<a class="card card-course" href="/courses/firestore-data-modeling">
    <div class="card-content">
        <div class="text-center"><img src="/courses/firestore-data-modeling/img/featured.jpg"></div>
        <h3>Firestore Data Modeling Course</h3>
        Learn how to model data and optimize queries with Cloud Firestore. 

        <button class="btn btn-green btn-block">Start</button>
    </div>
</a>

<a class="card card-course" href="/courses/firebase-security">
    <div class="card-content">
        <div class="text-center"><img src="/courses/firebase-security/img/featured.jpg"></div>
        <h3>Firebase Security</h3>
        Deploy your app with confidence by learning about Firestore Security rules.  

        <button class="btn btn-green btn-block">Start</button>
    </div>
</a>



<a class="card card-course" href="/courses/cloud-functions">
    <div class="card-content">
        <div class="text-center"><img src="/courses/cloud-functions/img/featured.jpg"></div>
        <h3>Cloud Functions Master Course</h3>
        Master the fundamentals of serverless with Firebase Cloud Functions where we build seven different microservices from scratch.
    
        <button class="btn btn-green btn-block">Start</button>
    </div>


</a>

<a class="card card-course" href="/courses/ionic">
    <div class="card-content">
        <div class="text-center"><img src="/courses/ionic/img/featured.jpg"></div>
        <h3>Ionic 4 Firebase Project Course</h3>
        Build a cross-platform web/mobile application with Ionic 4, Angular & Firebase
    
        <button class="btn btn-green btn-block">Start</button>
    </div>


</a>
    
</div>
