<hr>
<footer>
    <div class="github-link">Find an issue with this page? <a href="{{ .Site.Data.links.github_content }}/{{ .File.Path }}">Fix it on GitHub</a></div>

    <div class="copyright">
        <hr>
        Copyright ©  {{ now.Format "2006"}} Fireship LLC <br> 
        Created with <i>{{ partial "svg/ng.svg"}}</i><i>{{ partial "svg/firebase.svg" }}</i>
        by <a href="{{ .Site.Data.links.gde }}">Jeff Delaney</strong>
        <i>{{ partial "svg/gde.svg"}}</i></a>
        <hr>
        <div class="footer-links">
            <a href="/contributors">Contributors</a> 
            <a href="/">Jobs</a> 
            <a href="/privacy-policy">Privacy</a> 
            <a href="/terms">Terms</a>

        </div>

        <hr>
        <div style="padding: 20px 0; font-size: 1.5em;">
        <a href="{{ .Site.Data.links.youtube }}"><i class="youtube">{{ partial "svg/youtube.svg"}}</a></i></a>
        <a href="{{ .Site.Data.links.twitter }}"><i class="twitter">{{ partial "svg/twitter.svg"}}</i></a>
        <a href="{{ .Site.Data.links.github }}"><i class="github">{{ partial "svg/github.svg"}}</a></i></a>
        <a href="{{ .Site.Data.links.slack }}"><i class="slack">{{ partial "svg/slack.svg"}}</a></i></a>
        </div>
        
        
    </div>

    {{ partial "app-links" }}
</footer>
