<head>
    <!-- GTAG -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-59099331-16"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-59099331-16');
    </script>

    <!-- JS & CSS -->
    <link rel="prefetch" as="script" href="/components/{{ .Site.Data.components.bundle }}">
    <link rel="stylesheet" href="https://use.typekit.net/rcr1opg.css">
    <script src="/design/{{ .Site.Data.webpack_assets.app.js }}"></script>
    <link rel="stylesheet" type="text/css" href="/design/{{ .Site.Data.webpack_assets.app.css }}">
    <script defer src="/components/{{ .Site.Data.components.bundle }}"></script>

    <!-- META TAGS -->
    <title>{{ .Title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width,minimum-scale=1">

    {{ block "meta" . }}
    {{ partial "meta.html" . }}
    {{ end }}

    <!-- PWA -->
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="/img/favicon.png" />
    <meta name="theme-color" content="#454e56">

    <link rel="manifest" href="/manifest.json">
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/sw.js');
            });
        }
    </script>

    <!-- Payments -->
    <script src="https://js.stripe.com/v3/"></script>
    <script
        src="https://www.paypal.com/sdk/js?client-id=ATn5LO-IKaYXAfi07gaHgfkq6LNvupXMTe2zczFKdZYSyZZ4Ax92EdJhoiP4OvbvCIRFUczsAJTZEXZH&disable-funding=credit,card">
    </script>
    
    <!-- Extras -->
    {{ block "scripts" . }}

    {{ end }}
</head>