<span class="text-sm">Your Host</span>
<h4>Jeff Delaney</h4>

<span role="img" aria-label="video">📼</span> Youtuber (fireship)
<span role="img" aria-label="keyboard">⌨️</span> App developer with 10+ years of experience
<span role="img" aria-label="fire">🔥</span> Big fan of Firebase and the Cloud
<span role="img" aria-label="avocado">🥑</span> Self-taught developer advocate
<span role="img" aria-label="js">☕</span> Content contributor to Alligator.io, Ionic, Firebase, and more. 
<span role="img" aria-label="bolt">⚡</span> Loves things fast & efficient