<header>
    {{ with .Params.youtube }}
    <div class="post-video" >
        <div class="vid" itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
            <iframe
            width="800"
            height="450"
            src="https://www.youtube.com/embed/{{ . }}"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            ></iframe>

            <meta itemprop="embedUrl" content="https://www.youtube.com/embed/{{ . }}" />
            <meta itemprop="thumbnailUrl" content="{{ $.Params.featured_image }}" />
            <meta itemprop="description" content="{{ $.Page.Params.description }}" />
            <meta itemprop="uploadDate" content="{{ $.Page.Params.publishdate }}" />
            <meta itemprop="publisher" content="Fireship" />
        </div>
    </div>
    {{ end }}

    {{ if .Params.vimeo }}

    <div class="post-video" >
        <div class="vid" itemprop="video" itemscope itemtype="http://schema.org/VideoObject">

            {{ if .Params.pro }}
            <allow-if level="pro">


                <div class="vid">
                        <iframe src="https://player.vimeo.com/video/{{ .Params.vimeo }}" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>

                <allow-if slot="falsey" level="user">

    
                    {{ partial "video-upgrade.html" }}

                    <span slot="falsey">
                            {{ partial "video-login.html" }}
                    </span>

                </allow-if>


            </allow-if>

            {{ else }}
                <div class="vid">
                        <iframe src="https://player.vimeo.com/video/{{ .Params.vimeo  }}" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            {{ end }}



            <meta itemprop="thumbnailUrl" content="{{ $.Params.featured_image }}" />
            <meta itemprop="description" content="{{ $.Page.Params.description }}" />
            <meta itemprop="uploadDate" content="{{ $.Page.Params.publishdate }}" />
            <meta itemprop="publisher" content="Fireship" />
        </div>
    </div>
    {{ end }}

    <div class="post-info">
        <div class="post-description">
            <p itemprop="description">
                {{ .Params.description }}
                <strong><span class="text-thin" itemprop="wordCount">{{ .WordCount }} words.</span></strong>
            </p>

            {{ partial "author.html" . }}

            <div class="text-sm">
                Created <time itemprop="dateCreated">{{  .PublishDate.Format "Jan 2, 2006"  }}</time><br>
                <span class="tag">Last Updated <time itemprop="dateModified">{{  .Lastmod.Format "Jan 2, 2006"  }}</time> </span>
            </div>

        </div>

        <div class="post-detail">
        <div class="post-buttons">
            {{ with .Params.github }}
                <a class="btn btn-contrast" href="{{ . }}">
                    {{ partial "svg/code-merge.svg" }} Code
                </a>
            {{ end }}
            <a class="btn btn-purple" href="{{ .Site.Data.links.slack }}">
            {{ partial "svg/slack.svg" . }} Slack
            </a>
        </div>

        <div class="post-tags">{{ partial "tags.html" . }}</div>
        </div>
    </div>

    {{ partial "health-check.html" . }}

</header>
