<div class="pricing row">

    <div class="pricing-item monthly col-xs-12 col-sm-4">
        
        <div class="pricing-icon"><i>{{ partial "svg/heart.svg" }}</i></div>
        <div class="pricing-title"><h3>Monthly</h3></div>

        <div class="pricing-price">
            <span class="price">$15</span><span class="interval">/month</span>
        </div>

        <ul class="pricing-features">
            <li>Unlimited course access</li>
            <li>Cancel anytime</li>
            <li>Slack #pro-member invite</li>
            <li>Survival Guide Books</li>
        </ul>

        <product-select product-id="proMonthly"></product-select>

    </div>

    <div class="pricing-item monthly col-xs-12 col-sm-4">
        
            <div class="pricing-icon"><i>{{ partial "svg/rocket.svg" }}</i></div>
            <div class="pricing-title"><h3>Quarterly</h3></div>
    
            <div class="pricing-price">
                <span class="price">$30</span><span class="interval">/3mo</span>
            </div>
    
            <ul class="pricing-features">
                <li>All monthly tier benefits</li>
                <li>33.333333% discount</li>
                <li>🔥 Free Sticker</li>
            </ul>
    
            <product-select product-id="proQuarterly" text="Choose Plan"></product-select>
    
        </div>
    <div class="pricing-item monthly col-xs-12 col-sm-4">
    
            <div class="pricing-icon"><i>{{ partial "svg/unicorn.svg" }}</i></div>
            <div class="pricing-title"><h3>Lifetime</h3></div>
    
            <div class="pricing-price">
                <span class="price">$300</span><span class="interval">/one-time</span>
            </div>
    
            <ul class="pricing-features">
                <li>All monthly tier Benefits</li>
                <li>~99% discount</li>
                <li>One-time payment</li>
                <li>🔥 Free sticker & 👔 T-Shirt</li>
            </ul>
            
            
            <product-select product-id="proLifetime" text="Choose Plan"></product-select>
    
        </div>
        
</div>