<!-- <a href="/" class="item logo">
    {{ partial "svg/logo-white.svg" . }}
    <div class="version">v{{ .Site.Data.defaults.version }}</div>
</a>

<nav class="sidenav hide-sm">
    <modal-button selector="algolia-search">
        <span class="item">
            {{ partial "svg/telescope.svg" . }}
            <span class="item-label tag tag-contrast tag-sm">search</span>
        </span>
</modal-button> 



    <a class="item" href="/lessons">
        {{ partial "svg/tv.svg" . }}
        <span class="item-label tag tag-contrast tag-sm">video lessons</span>
    </a>

    <a class="item" href="/courses">
        {{ partial "svg/school.svg" . }}
        <span class="item-label tag tag-contrast tag-sm">courses</span>
    </a>

    <a class="item" href="/snippets">
        {{ partial "svg/commit.svg" . }}
        <span class="item-label tag tag-contrast tag-sm">quick snippets</span>
    </a>
    
    <a class="item" href="/tags">
        {{ partial "svg/tags.svg" . }}
        <span class="item-label tag tag-contrast tag-sm">tags</span>
    </a>

    <allow-if level="user" class="hide-sm">

        <a class="item" href="/dashboard">
            <span class="item-avatar"><user-data field="photo-url"></user-data></span>
            <user-data field="is_pro"></user-data>
            <span class="item-label tag tag-contrast tag-sm">dashboard</span>
        </a>
        
        <div class="item" slot="falsey">
                <modal-button selector="login-modal">
                        <div class="flex-center"><img src="/img/google-login.svg" alt="google login"></div>
                        <span class="tag tag-sm">login</span>
                </modal-button>
                
                <span class="item-label tag tag-contrast tag-sm">login</span>
            </div>

    </allow-if>

</nav>

 -->
