{{ define "main" }}
{{ $free := .Params.free }}

{{ $courses := .Site.Data.courses }}

{{ $sku := index $courses ( (index (split .RelPermalink "/") 2))  }}
{{ $course := index $courses (string $sku) }}

<article itemscope itemtype="http://schema.org/Article">
    <header>
        <h1 itemprop="name" id="{{ anchorize .Title }}" class="post-title border-bottom">
            {{ .Title }}
        </h1>
        
        {{ with .Params.video }}
            <video controls src="{{ . }}"></video>
        {{ end }}

    </header>

    <div class="content-main">
        <section class="content-article no-toc" itemprop="articleBody">{{ .Content }}</section>
    </div>

    {{ if not $free }}

    <div class="text-center" style="padding: 2em;">

    <allow-if level="user">

        <allow-if level="pro" product="{{ $sku }}">
            <span slot="falsey">


                <a href="/pro" class="btn btn-green-outline btn-lg">Get Unlimited PRO Access</a>
                <p>OR</p>
                <p><product-select class-name="btn btn-blue" product-id="{{ $course }}" text="Enroll for $19.00"></product-select>
                    <br><span class="text-sm">*Enrollment provides full access to this course (and updates) for life.</span>
                </p>
                
            
                
                <div class="payment-card">
                    <payment-form></payment-form>
                </div>
                </span>

            </allow-if>
        </allow-if>

        </div>

    {{ end }}


{{ end }}



{{ define "feed" }}
    {{ if and (len .Pages) (gt .Params.weight -1) }}
        <h2 class="text-center home-heading">Chapters</h2>
        <nav class="chapters-list">
            {{ partial "chapters.html" (dict "chapters" .Pages "active" .RelPermalink) }}
        </nav>
    {{ end }}
{{ end }}
