{{ define "main" }}
{{ $free := .Params.free }}

{{ $courses := .Site.Data.courses }}

{{ $sku := index $courses ( (index (split .RelPermalink "/") 2))  }}
{{ $course := index $courses (string $sku) }}


<article itemscope itemtype="http://schema.org/Article" class="course-article">

    <h1 itemprop="name" id="{{ anchorize .Title }}" class="course-title border-bottom">
        {{ .Title }}
    {{ with .Params.description }}
        <span class="sub-heading">{{ . }}</span>
    {{ end }}
    </h1>


    
            {{ with .Params.vimeo }}
    
            {{ if $free }}
                <allow-if level="user">
    
                    <div class="vid vid-center">
                        <iframe src="https://player.vimeo.com/video/{{ . }}" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                    
                    <span slot="falsey">{{ partial "video-login.html" }}</span>
    
                </allow-if>
            {{ else }}
                <!-- user IS pro -->
                <allow-if level="pro" product="{{ $sku }}">
    
    
                    <div class="vid vid-center">
                        <iframe src="https://player.vimeo.com/video/{{ . }}" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                    
                    <!-- user NOT pro -->
                    <allow-if slot="falsey" level="user">
    
                        <div class="box box-orange">
                            <div class="box-icon">{{ partial "svg/hazard.svg" }}</div>
                            <div class="box-content">
                                This lesson is available for PRO members or as a single course purchase. Sign-in and choose a plan below.
                            </div>
                        </div>
    
                        <!-- user IS logged and NOT pro -->
                        <allow-if level="user">
    
    
                            <div class="text-center video-overlay" style="flex-direction: column;">
    
                                <a href="/pro" class="btn btn-lg btn-green-outline font-head">Get Unlimited PRO Access</a>
                                <p>OR</p>
                                <p><product-select class-name="btn btn-blue" product-id="{{ $course }}" text="Enroll for $19.00"></product-select>
                                    <br><span class="text-sm hi-alt">*Enrollment provides full access to this course (and updates) for life.</span>
                                </p>
                                
                            
                                
                                <div class="payment-card">
                                    <payment-form></payment-form>
                                </div>
    
           
                            </div>
        
                        </allow-if>

                        <!-- user is NOT logged in -->
                        <span slot="falsey">
                            {{ partial "video-login.html" }}
                        </span>
    
                    </allow-if>
    
                    <!-- <span slot="falsey">
                        {{ partial "video-login.html" }}
                    </span> -->
                </allow-if>
    
                {{ end }}
            
            {{ end }}
    
    
    
        </div>


        
        {{ if $free }}
            <section itemprop="articleBody">{{ .Content }}</section>
        {{ else }}
            <allow-if level="pro" product="{{ $sku }}">
                <section  itemprop="articleBody">{{ .Content }}</section>
            </allow-if>
        {{ end }}


        {{ partial "chapters-next.html" . }}

        {{ partial "qna.html" . }}

</article>

<nav class="chapters-list-fixed">
    <!-- <div class="chapters-sticky box box-purple box-sm chapter-item">
        <h3 class="text-center">Chapters</h3>
    </div> -->
    {{ $chapters := .Parent.Pages.ByWeight }} 
    {{ partial "chapters.html" (dict "chapters" $chapters "active" .RelPermalink) }}

    <h5 class="text-center">The End</h5>

{{ end }}


