{{ define "main" }}
{{ $free := .Params.free }}

{{ $courses := .Site.Data.courses }}

{{ $sku := index $courses ( (index (split .RelPermalink "/") 2))  }}
{{ $course := index $courses (string $sku) }}


<article itemscope itemtype="http://schema.org/Article" >
    <header>
        <h1 itemprop="name" id="{{ anchorize .Title }}" class="post-title border-bottom">
            {{ .Title }}

        {{ with .Params.weight }}
            <span class="sub-heading">Step {{ . }}</span>
        {{ end }}
        </h1>

        {{ with .Params.vimeo }}

        {{ if $free }}
            <allow-if level="user">

                    <div class="vid vid-center">
                            <iframe src="https://player.vimeo.com/video/{{ . }}" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                
                <span slot="falsey">{{ partial "video-login.html" }}</span>

            </allow-if>
        {{ else }}
            <allow-if level="pro" product="{{ $sku }}">


                <div class="vid vid-center">
                        <iframe src="https://player.vimeo.com/video/{{ . }}" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>

                <allow-if slot="falsey" level="user">

                    <div class="box box-orange">
                        <div class="box-icon">{{ partial "svg/hazard.svg" }}</div>
                        <div class="box-content">
                            This lesson is available for PRO members or as a single course purchase. Sign-in and choose a plan below.
                        </div>
                    </div>


                    <allow-if level="user">


                        <div class="text-center" style="padding: 2em;">
                            <p><product-select class-name="btn btn-blue btn-lg" product-id="{{ $course }}" text="Enroll for $19.00"></product-select></p>
                            
                            <a href="/pro" class="btn btn-green">Or Signup for Unlimited PRO Access</a>
                        
                            
                            <div class="payment-card">
                                <payment-form></payment-form>
                            </div>
                        
                        
                        
                        
                            <!-- <span slot="falsey">
                                {{ partial "login.html" }}
                            </span> -->
                        </allow-if>

                    </div>


                    <!-- {{ partial "pricing" }} -->


                </allow-if>

                <span slot="falsey">
                        {{ partial "video-login.html" }}
                </span>
            </allow-if>

        {{ end }}



   
        
        {{ end }}



    </header>
    {{ partial "chapters-next.html" . }}

  <div class="content-main">

    

    {{ if $free }}
        <section class="content-article no-toc course-article" itemprop="articleBody">{{ .Content }}</section>

    {{ else }}
        <allow-if level="pro" product="{{ $sku }}">
            <section class="content-article no-toc course-article" itemprop="articleBody">{{ .Content }}</section>
        </allow-if>
    {{ end }}


  </div>

  {{ $chapters := .Parent.Pages.ByWeight }} 
  {{ partial "chapters.html" (dict "chapters" $chapters "active" .RelPermalink) }}
</article>

    {{ partial "qna.html" . }}


{{ end }}

