{{ define "main" }}
{{ $free := .Params.free }}

<article itemscope itemtype="http://schema.org/Article" >
    <header>
        <h1 itemprop="name" id="{{ anchorize .Title }}" class="post-title border-bottom">
            {{ .Title }}

        {{ with .Params.weight }}
            <span class="sub-heading">Step {{ . }}</span>
        {{ end }}
        </h1>

        {{ with .Params.vimeo }}

        {{ if $free }}
            <allow-if level="user">

                    <div class="vid">
                            <iframe src="https://player.vimeo.com/video/{{ . }}" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                
                <span slot="falsey">{{ partial "video-login.html" }}</span>

            </allow-if>
        {{ else }}
            <allow-if level="pro">


                <div class="vid">
                        <iframe src="https://player.vimeo.com/video/{{ . }}" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>

                <allow-if slot="falsey" level="user">

                    <div class="box box-orange">
                        <div class="box-icon">{{ partial "svg/hazard.svg" }}</div>
                        <div class="box-content">
                            This lesson is only available for PRO members. Sign-in and choose a plan below.
                        </div>
                    </div>

                    {{ partial "pricing" }}

                    <span slot="falsey">
                            {{ partial "video-login.html" }}
                    </span>

                </allow-if>
            </allow-if>

        {{ end }}



   
        
        {{ end }}


        {{ with .Params.video }}
        



        {{ end }}

    </header>
    {{ partial "chapters-next.html" . }}

  <div class="content-main">

    

    {{ if $free }}
        <section class="content-article no-toc course-article" itemprop="articleBody">{{ .Content }}</section>

    {{ else }}
        <allow-if level="pro">
            <section class="content-article no-toc course-article" itemprop="articleBody">{{ .Content }}</section>
        </allow-if>
    {{ end }}


  </div>

  {{ $chapters := .Parent.Pages.ByWeight }} 
  {{ partial "chapters.html" (dict "chapters" $chapters "active" .RelPermalink) }}
</article>

    {{ partial "qna.html" . }}


{{ end }}
