themes/main/node_modules
public/
wc/node_modules
components/dist
components/node_modules
functions/node_modules
.firebase/
.vscode/
/node_modules

functions/.env
functions/lib
functions/.runtimeconfig.json

NOTES.md
secrets.json
.env

hugo/data/components.json
hugo/data/webpack_assets.json
hugo/static/components
hugo/static/design

resources/

ROADMAP.md
archive/