{{ define "main"}}

<div class="row" style="margin-top: 3em;">
    <div class="vid">
      <iframe src="https://player.vimeo.com/video/379454037" width="100%" height="auto" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div> 
  <div  style="justify-content: space-between; display: flex; flex-direction: column;">
    <h1>Build and ship 🔥 your app ⚡ faster</h1>
    <p class="text-lg">
      Fireship.io is an ecosystem of practical resources for
      developers who want to
      <strong class="text-contrast">build high-quality web & mobile apps</strong>.      
      
    </p>

    <p>
      <a class="btn btn-orange-outline" href="/lessons">Explore</a>
      <google-login>
        <button slot="signin" class="btn">
          {{ partial "svg/google.svg" }} Login Now
        </button>
      </google-login>
    </p>


  <hr>
    {{ partial "app-links" }}
  </div>
</div>

<hr />
<h2 class="text-center home-heading">Learn by Doing</h2>
<h4 class="home-sub-heading text-center">Fast, efficient, project-based video courses</h3>
<div class="row">


    <a class="card card-course" href="/courses/flutter-firebase">
      <div class="card-content">
          <div class="text-center"><img src="/courses/flutter-firebase/img/featured.jpg"></div>
          <h3>Flutter Firebase App from Scratch</h3>
          Build a complex production-ready app from scratch with Flutter and Firebase 

          
      </div>
    </a>

    <a class="card card-course" href="/courses/angular">
      <div class="card-content">
          <div class="text-center"><img src="/courses/angular/img/featured.jpg"></div>
          <h3>Angular 9 Firebase Project Course</h3>
          Build a high-performance progressive web application (PWA) with Angular & Firebase
      
      </div>
  
  
  </a>


</div>


<hr>

<h2 class="text-center home-heading">Modern Fullstack</h2>
<h4 class="home-sub-heading text-center">Develop faster with scalable cloud infrastructure</h3>

<div class="row ">
  <a class="card card-course" href="/courses/firestore-data-modeling">
    <div class="card-content">
        <div class="text-center"><img src="/courses/firestore-data-modeling/img/featured.jpg"></div>
        <h3>Firestore Data Modeling Course</h3>
        Learn how to model data and optimize queries with Cloud Firestore. 

        
    </div>
</a>

<a class="card card-course" href="/courses/cloud-functions">
  <div class="card-content">
      <div class="text-center"><img src="/courses/cloud-functions/img/featured.jpg"></div>
      <h3>Cloud Functions Master Course</h3>
      Master the fundamentals of serverless with Firebase Cloud Functions by building seven different microservices from scratch.
  
      
  </div>


</a>
</div> 

<hr>

<h2 class="text-center home-heading">Thinking Beyond the Code</h2>
<h4 class="home-sub-heading text-center">Accept payments and build your business</h3>

<div class="row">

  <a class="card card-course" href="/courses/stripe-payments">
    <div class="card-content">
        <div class="text-center"><img src="/courses/stripe-payments/img/featured.jpg"></div>
        <h3>Stripe Payments Master Course</h3>
        Build a custom payment solution with Stripe, Firebase, and NodeJS.
    </div>
</a>

</div>

<div class="text-center row-home">
<a href="/courses" class="btn btn-green text-center btn-lg">All PRO Courses</a>
</div>

<h2 class="text-center home-heading">Trusted by Developers</h2>
<!-- <h4 class="home-sub-heading text-center">Used by teams of all sizes</h3> -->

<!-- <hr>
<ul class="brand-list">
    {{ $teams := slice "google" "fbi" "uber" "algolia" "nrwl" "mapfire" }}

    {{ range $teams }}
        <li><img src="/img/brands/{{ . }}.png" alt="{{ . }} logo"></li>
    {{ end }}
    
</ul> -->

<hr>


<!-- <h2 class="text-center home-heading">Testimonials</h2>
<h4 class="home-sub-heading text-center">Accept payments and build your business</h3> -->

<h4 class="home-sub-heading text-center">"I have a job thanks to you"</h3>

<div class="text-center">
  <img src="/img/testimonial.png" alt="Testimonials for Fireship.io code tutorials">
</div>


<div class="row row-home">
  <section>
    <h2>
      <i>{{ partial "svg/video.svg" }}</i> Weekly Video Episodes
    </h2>
    <p>
      Lessons are <strong>non-linear ~10min episodes</strong> covering a variety
      of topics that include a video, writeup, and GitHub repo. <a class="btn btn-sm" href="{{ .Site.Data.links.youtube }}">Watch</a>
    </p>
  </section>

  <section>
    <a href="{{ .Site.Data.links.youtube }}"
      ><img
        src="img/pages/yt.jpg"
        alt="old film gif for video episodes on Fireship.io"
    /></a>
  </section>
</div>

<h2 class="text-center home-heading">Not your Average Code Tutorials</h2>
<h4 class="home-sub-heading text-center">All lessons are backed by expert support</h3>

<div class="row home-features">

  <section>
    <a class="card card-outline" href="{{ .Site.Data.links.slack }}">
      <div class="card-content">
        <h2>💬 Slack Chat</h2>
        <p>
          Join our Slack channel with over 3K users for project support, news,
          and <strong>just having fun</strong>.
        </p>
      </div>
    </a>
  </section>

  <section>
    <a class="card card-outline" href="{{ .Site.Data.links.github }}">
      <div class="card-content">
        <h2>👨‍💻 Open Source Code</h2>
        <p>
          Almost every lesson is <strong>supported by a GitHub repo</strong>. Even this very
          website is open source.
        </p>
      </div>
    </a>
  </section>

  <section>
        <a class="card card-outline" href="{{ .Site.Data.links.github }}">
          <div class="card-content">
                <h2>🍰 Cake</h2>
                <p>
                  There will be cake! Access additional <strong>free stuff</strong> like books, stickers,
                  cheat sheets, swag, and more.
                </p>
          </div>
        </a>
      </section>


</div>




<h2 class="text-center home-heading">Watch the Latest Lessons</h2>
<h4 class="home-sub-heading text-center">New video content every few days</h3>

<div class="row-max-3">
  {{ range (first 6 (where .Site.RegularPages "Type" "in" .Site.Params.mainSections)) . }}

  {{ partial "lesson-card" . }}

  {{ end }}

  <modal-button selector="algolia-search">
    <button class="btn btn-green">Search All Lessons</button>
  </modal-button>
</div>

<div class="row row-home">
    <section>
      <a href="/about"
        ><img
          src="/img/pages/jeffdelaney-gde.webp" onerror="this.onerror=null; this.src='/img/pages/jeffdelaney-gde-lc.png'"
          alt="Jeff Delaney Google Developer Expert"
      /></a>
    </section>
    <section>
      <h2>
        <i>{{ partial "svg/microphone.svg" }}</i> Your Host
      </h2>
      <p>
        Hi, I'm <strong>Jeff Delaney</strong> and I created this project to help people build and ship high-quality
        apps. My mission is simple 👉 produce practical
        content that <strong>increases developer happiness and productivity</strong> 🚀. 
      </p>
    </section>
  </div>
  

{{ end }}
