{{ define "main"}}

<div class="row home-hero">
    <div class="vid hero-vid">
      <iframe src="https://player.vimeo.com/video/379454037" width="100%" height="auto" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div> 
  <div  class="hero-content">
    <h1>Build and ship 🔥 your app ⚡ faster</h1>
    <p class="text-lg">
      Fireship.io a gateway drug for developers who want to
      <strong class="text-contrast">build high-quality web & mobile apps</strong>.      
      
    </p>

    <p>
      <a class="btn btn-orange-outline" href="/lessons">Free Lessons</a>      
      <a class="btn btn-green" href="/courses">PRO Courses</a>  
    </p>

  </div>
</div>

<hr />
<h2 class="text-center home-heading">New Courses</h2>
<h4 class="home-sub-heading text-center">Brand New Courses and Updates Every Month</h4>
<div class="row">

  <a class="card card-course" href="/courses/react-next-firebase">
    <div class="card-content">
        <div class="text-center"><img src="/courses/react-next-firebase/img/featured.jpg"></div>
        <h3>React Firebase Full Course</h3>
        Build a fullstack server-rendered webapp with React, Next.js, and Firebase 
  
        <button class="btn btn-green btn-block">Start</button>
    </div>
  </a>


  <a class="card card-course" href="/courses/stripe-js">
    <div class="card-content">
        <div class="text-center"><img src="/courses/stripe-js/img/featured.jpg"></div>
        <h3>Stripe Payments Master Course</h3>
        Build a fullstack payment solution with Node.js and React.  

        <button class="btn btn-green btn-block">Start</button>
    </div>
</a>


</div>

<hr />
<h2 class="text-center home-heading">Learn by Doing</h2>
<h4 class="home-sub-heading text-center">Fast, efficient, project-based video courses</h4>
<div class="row">


    <a class="card card-course" href="/courses/flutter-firebase">
      <div class="card-content">
          <div class="text-center"><img src="/courses/flutter-firebase/img/featured.jpg"></div>
          <h3>Flutter Firebase App from Scratch</h3>
          Build a complex production-ready app from scratch with Flutter and Firebase 

          
      </div>
    </a>

    <a class="card card-course" href="/courses/angular">
      <div class="card-content">
          <div class="text-center"><img src="/courses/angular/img/featured.jpg"></div>
          <h3>Angular 9 Firebase Project Course</h3>
          Build a high-performance progressive web application (PWA) with Angular & Firebase
      
      </div>
  
  
  </a>


</div>


<hr />

<h2 class="text-center home-heading">Modern Fullstack</h2>
<h4 class="home-sub-heading text-center">Develop faster with scalable cloud infrastructure</h4>

<div class="row ">
  <a class="card card-course" href="/courses/firestore-data-modeling">
    <div class="card-content">
        <div class="text-center"><img src="/courses/firestore-data-modeling/img/featured.jpg"></div>
        <h3>Firestore Data Modeling Course</h3>
        Learn how to model data and optimize queries with Cloud Firestore. 

        
    </div>
  </a>

<a class="card card-course" href="/courses/cloud-functions">
  <div class="card-content">
      <div class="text-center"><img src="/courses/cloud-functions/img/featured.jpg"></div>
      <h3>Cloud Functions Master Course</h3>
      Master the fundamentals of serverless with Firebase Cloud Functions by building seven different microservices from scratch.
  
      
  </div>


</a>
</div> 

<hr />

<h2 class="text-center home-heading">New to Firebase?</h2>
<h4 class="home-sub-heading text-center">Learn the basics in 25 minutes 👇</h4>

<div class="row ">
  <a class="card card-course" href="/lessons/firebase-quickstart">
    <div class="card-content">
        <div class="text-center"><img src="/lessons/firebase-quickstart/img/featured.jpg"></div>
        <h3>Firebase - The Basics</h3>
        Learn the fundamental concepts needed to start building serious apps with Firebase. 

        
    </div>
  </a>

</div>


<div class="text-center row-home">
<a href="/courses" class="btn btn-green text-center btn-lg">All PRO Courses</a>
</div>

<h2 class="text-center home-heading">Trusted by Developers</h2>
<!-- <h4 class="home-sub-heading text-center">Used by teams of all sizes</h3> -->

<!-- <hr>
<ul class="brand-list">
    {{ $teams := slice "google" "fbi" "uber" "algolia" "nrwl" "mapfire" }}

    {{ range $teams }}
        <li><img src="/img/brands/{{ . }}.png" alt="{{ . }} logo"></li>
    {{ end }}
    
</ul> -->

<hr>


<!-- <h2 class="text-center home-heading">Testimonials</h2>
<h4 class="home-sub-heading text-center">Accept payments and build your business</h3> -->

<h4 class="home-sub-heading text-center">"I have a job thanks to you"</h3>

<div class="text-center">
  <img src="/img/testimonial.png" alt="Testimonials for Fireship.io code tutorials">
</div>

<hr>


<h2 class="text-center home-heading gradient-text text-italic">Not your Average Code Tutorials</h2>
<h4 class="home-sub-heading text-center">PRO lessons are backed by expert support</h4>


  {{ range first 1 (where site.RegularPages "Type" "in" "lessons") }}

  <div class="row row-max-1">

      <div class="card card-lesson">
        {{ partial "lesson-image.html" . }}
        <div class="card-content">

        <a href="{{ .RelPermalink }}">
            <h3>{{ .Title }}</h3>
        </a>

        <p>{{ .Params.description }}</p>

        {{ partial "tags.html" .  }}

        </div>
    </div>
  </div>

  {{ end }}

<div class="row-max-3">
  {{ range first 6 (where site.RegularPages "Type" "in" site.Params.mainSections) }}

  {{ partial "lesson-card" . }}

  {{ end }}

</div>

<div class="text-center row-home">
  <a href="/lessons" class="btn btn-green text-center btn-lg">More Lessons</a>
</div>


<div class="row row-home">
    <section class="flex-center">
      <a href="/about"
        ><img class="gde-logo"
          src="/img/pages/jeffdelaney-gde-2020.webp" onerror="this.onerror=null; this.src='/img/pages/jeffdelaney-gde-2020.png'"
          alt="Jeff Delaney Google Developer Expert"
      /></a>
    </section>
    <section>
      <h2>
        <i>{{ partial "svg/microphone.svg" }}</i> Your Host
      </h2>
      <p>
        Hi, I'm <strong>Jeff Delaney</strong> and I created this project to help people build and ship high-quality
        apps. My mission is simple 👉 produce practical
        content that <strong>increases developer happiness and productivity</strong> 🚀. 
      </p>
    </section>
  </div>

  
  {{ partial "footer.html" .  }}

{{ end }}

