{{ define "main" }}
    <header>
        <h1 class="tag tag-contrast tag-{{ anchorize .Title }} shadow">
            {{ title .Title }}
        </h1>

        {{ if .Params }}
            <div class="card card-outline no-animate">
                <div class="card-content">
                    {{ .Params.description }}

                        <a href="{{ .Params.link }}" class="btn btn-sm">{{ .Title }}</a>
                </div>
      
            </div>
        {{ end }}
    </header>
    
    <div class="row">
    {{ range.Pages }}

    {{ partial "lesson-card" . }}

    {{ end }}
    </div>

{{ end }}
