{{ define "main" }}
    <header>
        <h1 class="tag tag-contrast tag-{{ anchorize .Title }} shadow">
            {{ title .Title }}

        </h1>

        {{ if .Params }}
            <div class="card card-outline no-animate">
                <div class="card-content">
                    {{ .Params.description }}

                        <a href="{{ .Params.link }}" class="btn btn-sm">{{ .Title }}</a>
                </div>
      
            </div>
        {{ end }}
    </header>

    {{ if .Params.course }}
    

    <section class="text-center">

        <a class="card card-course" href="{{ .Params.course_link }}">
            <div class="card-content">
                <div class="text-center"><img src="{{ .Params.course_link }}/img/featured.jpg" alt="{{ .Params.course }}"></div>
                Interested in {{ .Title }}? Invest in your learning with a PRO membership for unlimited access to <strong>{{ .Params.course }}</strong>
                <button class="btn btn-green btn-block">Get Started</button>
            </div>
        </a>

    </section>

    {{ end }}
    
    <div class="row">
    {{ range.Pages }}

    {{ partial "lesson-card" . }}

    {{ end }}
    </div>

{{ end }}
