<form action="/charge" method="post" id="payment-form" (submit)="handleForm($event)">
  <div class="form-row">
    <label for="card-element">
      Credit or debit card
    </label>
    <div id="card-element" #cardElement>
      <!-- A Stripe Element will be inserted here. -->
    </div>

    <!-- Used to display Element errors. -->
    <div #cardErrors id="card-errors"  role="alert"></div>
  </div>

  <button>Submit Payment</button>
</form>

<div id="payment-request-button" #prElement>
  <!-- A Stripe Element will be inserted here. -->
</div>

