<div [hidden]="!product && action !== 'source'" class="well">

<form action="/charge" method="post" id="payment-form" (submit)="handleForm($event)" class="form-stripe">
  <div class="form-row">
    <label for="card-element">
      Credit or debit card
    </label>
    <div id="card-element" class="card-stripe" #cardElement>
      <!-- A Stripe Element will be inserted here. -->
    </div>

    <!-- Used to display Element errors. -->
    <div id="card-errors" class="errors-stripe red"  role="alert">
      {{ formState?.error?.message }}
      {{ serverError | json }}
    </div>
  </div>

  <div *ngIf="loadingState; else pmtBtn">
    <loading-spinner></loading-spinner> {{ loadingState }}
  </div>



  <ng-template #pmtBtn>

    <div class="pricing-product">
      <div *ngIf="action === 'source'">
          <p>You are replacing the default payment source on your account. You will not be charged until you have a payable invoice.</p>

          <button class="btn btn-blue btn-stripe" [disabled]="formState?.error || !formState?.complete">
            Add Source
          </button>
      </div>


  
      <div *ngIf="action !== 'source' && product">

          <div class="coupon-form">
              <p *ngIf="couponResult" class="green">{{ couponResult?.name }}</p>
              <p *ngIf="couponError" class="red">Unable to apply coupon</p>
              <input placeholder="discount code" class="input" maxlength="20" style="display: inline; margin-right: 10px;" type="text" #coupon>
              <button type="button" 
              [disabled]="couponLoading" class="btn btn-contrast btn-sm" 
              (click)="applyCoupon($event, coupon.value)">Apply Coupon</button>
              <loading-spinner *ngIf="couponLoading"></loading-spinner>
          </div>

          <p>You are purchasing <strong class="green">{{ product?.description }}</strong> <a target="_blank" href="https://fireship.io/terms#subscriptions">terms</a></p>

          <button class="btn btn-green btn-stripe" [disabled]="formState?.error || !formState?.complete">

              Pay ${{ total | usd }}
            
          </button>
      </div>


    </div>

  </ng-template>

</form>

<div id="payment-request-button" #prElement>
  <!-- A Stripe Element will be inserted here. -->
</div>

</div>