{{ define "main" }}
    <header>
        <h1 class="border-bottom">Quick Snippets and Code Samples</h1>
    </header>
{{ end }}

{{ define "feed" }}


    <div class="row-max-1">
            <modal-button selector="algolia-search">
                    <button class="btn btn-green">Search All Lessons</button>
            </modal-button>

      {{ range (.Paginator 24).Pages }}

      <a href="{{ .RelPermalink }}" style="text-decoration: none; margin-top: 10px; text-align: left; display: block;">
                <div class="box box-sm chapter-item">
                    <div class="box-content" style="padding: 1em;">

                    
                        <h3>{{ .Title }}</h3>

                    
                    <p class="subtext">{{ .Params.description }}</p>
                    
                
                    <div style="flex-direction: row; margin: 0">{{ partial "tags.html" .  }}</div>
        
                </div>
            </div>
                      
        </a>

      {{ end }}
    </div>

    {{ template "_internal/pagination.html" . }}

{{ end }}
