---
title: Debugging Report 
description: Debug rules using the Firestore code coverage report. 
weight: 41
lastmod: 2020-11-20T10:11:30-02:00
draft: false
emoji: 
vimeo: 
emoji: 👶
video_length: 1:42
---
