---
title: Debugging Report 
description: Debug rules using the Firestore code coverage report. 
weight: 43
lastmod: 2020-11-20T10:11:30-02:00
draft: false
vimeo: 486474399
emoji: 🧪
video_length: 2:04
free: true
---
