{{ define "scripts"}}{{ end }}

{{ define "main" }}

  <article itemscope itemtype="http://schema.org/Article">
    <meta itemprop="datePublished" content="{{ .PublishDate }}" />
    <meta itemprop="dateModified" content="{{ .Lastmod }}" />
    <meta itemprop="image" content="img/featured.png" />
    <meta itemprop="publisher" content="fireship.io" />


    <h1 itemprop="name headline" id="{{ anchorize .Title }}" class="post-title border-bottom">
        {{ .Title }}
    </h1>

    <div class="content-main">

      <section class="content-article" itemprop="articleBody">

        {{ if .Params.pro }}
        {{ partial "lesson-headline" . }}


            <allow-if level="pro">
    
                <div class="content-body">
                    {{ .Content }} 
                </div>


                <div slot="falsey">
                  <div  class="content-body">
                      {{ .Content | safeHTML | truncate 800 }} 
                  </div>

                  <allow-if level="user">

                    <h2 class="text-center">Upgrade to PRO for the Full Lesson</h2>
              
                    {{ partial "pricing" }}


                    
                    <span slot="falsey">   
                        <div class="box box-orange">
                            <div class="box-icon">
                             {{ partial "svg/hazard.svg"}}
                            </div>
                            <div class="box-content">
                                <p> You must be logged in to view this content.  

                                  <modal-button selector="login-modal">
                                    <button class="btn btn-sm">Login</span>
                                  </modal-button>
                                </p>

    
                              
                            </div>
                              
                        </div>
                                  
       </span>
                  </allow-if>
            
                </div>


            </allow-if>

        {{ else }}
          {{ partial "lesson-headline" . }}

          <div class="content-body">
            {{ .Content }} 
          </div>
        {{ end }}

      </section>

      {{ if not .Params.disable_toc }}
        <aside class="toc">{{ .TableOfContents }}</aside>
      {{ end }}
    </div>

  </article>

  {{ partial "qna.html" . }}

  {{ partial "footer.html" . }}

{{ end }}
