<!DOCTYPE html>
<html>
  <head data-build="{{ .Site.Data.svelte.token }}">
    <!--
    <script>
      if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark')
      } else {
        document.documentElement.classList.remove('dark')
      }
    </script>
    -->
    <meta charset="utf-8"/>
    <title>{{ .Page.Title }}</title>
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon"/>
    <!-- SVELTE COMPONENTS AND APPLICATION LAYER -->
    <link rel="stylesheet" href="/svelte/{{ .Site.Data.svelte.css }}" />
    <script type="module" defer src="/svelte/{{ .Site.Data.svelte.js }}"></script>
    <!-- SVELTE COMPONENTS AND APPLICATION LAYER -->

    <!-- pwa -->
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon"/>
    <link rel="apple-touch-icon" type="image/x-icon" href="/img/favicon.png" />
    <meta name="theme-color" content="#454e56"/>
    <meta name="viewport" content="width=device-width,minimum-scale=1"/>
    <link rel="manifest" href="/manifest.json"/>
    {{ partial "meta" . }}
    
    <script>
      if ('serviceWorker' in navigator) {
          window.addEventListener('load', () => {
              navigator.serviceWorker.register('/sw.js');
          });
      }
    </script>

  </head>
  <body>
    {{ $vimeoEncode := .Params.vimeo | base64Encode }}
    {{ $ytEncode := .Params.youtube | base64Encode }}

    <!-- COMPONENT FOR SUPABASE SERVICE -->
    <supabase-app></supabase-app>
    <!-- COMPONENT FOR SUPABASE SERVICE -->
    <!-- COMPONENT FOR STREAMING SERVICE -->
    <global-data 
    permalink="{{ .Permalink }}" 
    vimeo="{{ $vimeoEncode }}"
    youtube="{{ $ytEncode }}"
    free="{{ .Params.free }}"
    next="{{with .PrevInSection}}{{.Permalink}}{{end}}" 
    prev="{{with .NextInSection}}{{.Permalink}}{{end}}">
  </global-data>
    <!-- COMPONENT FOR STREAMING SERVICE -->

    {{ block "header" . }}
    {{ partial "topnav" . }}
    {{ end }}
    {{ block "main" . }}
      <!-- main -->
    {{ end }}
    {{ block "footer" . }}
    {{ partial "footer" . }}
    {{ end }}

    <app-signin></app-signin>
    <algolia-search></algolia-search>
    <hi-mom></hi-mom>

    <email-handler></email-handler>

    <route-loader>
      <div class="fixed w-full top-0 left-0 h-1 gradient-loader"></div>
    </route-loader>

    <toast-message></toast-message>
    <scroll-up></scroll-up>

    </div>

  </body>
</html>
