<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">
  {{ partial "head.html" .}}
 

  <body class="dark-theme">
    {{ block "topnav" . }}
      {{ partial "topnav.html" . }}
    {{ end }}

    <!-- {{ block "sidenav" . }}
      {{ partial "sidenav.html" . }}
    {{ end }} -->

    
    <main role="main">
      {{ block "main" . }}{{ end }}
      {{ block "feed" . }}{{ end }}


    </main>

    <carbon-ads></carbon-ads>

    <route-loader>
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
          </div>
    </route-loader>

    <algolia-search></algolia-search>

    <app-notification></app-notification>

    <login-modal></login-modal>
  </body>
</html>