{{ define "main" }}
<main class="prose dark:prose-invert container">
  <header class="text-center mb-8 mt-20">
    <h1 class="text-5xl mb-1">Tags</h1>
    <p class="my-0 text-gray3">{{ .Description }}</p>
  </header>

  <div
    class="mx-auto w-24 h-1 my-12 bg-gradient-to-r from-gray5 to-gray4 rounded-full"
  ></div>

  {{ range .Data.Terms }}
  <span class="inline-block p-2">
    <a href="{{ .Page.Permalink | relURL }}"
      ><span class="tag tag-{{anchorize .Page.LinkTitle}} tag-lg"
        >#{{ anchorize .Page.LinkTitle}}</span
      ></a
    >
  </span>

  {{ end }}
</main>
{{ end }}
