<footer class="container text-center my-6 p-8 text-gray3">
    <div class="mx-auto w-24 h-1 my-12 bg-gradient-to-r from-gray5 to-gray4 rounded-full"></div>
    <div class="pt-10">Find an issue with this page? <a class="text-blue-500" href="{{ site.Data.links.github_content }}/{{ .File.Path }}">Fix it on GitHub</a></div>

    <div class="py-3">
        Need help? Email <a href="mailto:hello@fireship.io"><strong class="text-white font-bold">hello@fireship.io</strong></a>
    </div>
    <div class="flex justify-center items-center my-2">
        <a href="{{ site.Data.links.youtube }}"><i class="w-6 inline-block mx-2">{{ partial "svg/youtube.svg"}}</i></a>
        <a href="{{ site.Data.links.twitter }}"><i class="w-6 inline-block mx-2">{{ partial "svg/twitter.svg"}}</i></a>
        <a href="{{ site.Data.links.github }}"><i class="w-6 inline-block mx-2">{{ partial "svg/github.svg"}}</i></a>
        <a href="{{ site.Data.links.discord }}"><i class="w-6 inline-block mx-2">{{ partial "svg/discord.svg"}}</i></a>
    </div>

    <h6>Helpful Links</h6>

    <div class="py-3">
        <a href="/courses">Courses</a> | 
        <a href="/lessons">Labs</a> | 
        <a href="/snippets">Snippets</a> | 
        <a href="/tags">Tags</a> | 
        <a href="/contributors">Contrib</a> |
        <a href="/privacy">Privacy</a> | 
        <a href="/terms">Terms</a>
    </div>

    
    <div class="text-xs">
        Copyright ©  {{ now.Format "2006"}} Fireship LLC <br> 
    </div>

</footer>
