<main class="prose dark:prose-invert container">
  <header class="text-center mb-8 mt-20 inset-0">
    <h1 class="text-5xl mb-1">{{ .Title }}</h1>
    <p class="my-0 dark:text-gray3">{{ .Description }}</p>
  </header>

  <div
    class="mx-auto w-24 h-1 my-12 bg-gradient-to-r from-gray5 to-gray4 rounded-full"
  ></div>

  <ul class="grid-list justify-items-center pl-0">
    {{ $paginator := .Paginate .Pages.ByLastmod.Reverse 20 }} {{ range
    $paginator.Pages }}

    <li class="list-none p-0">{{ partial "card" (dict "context" .) }}</li>
    {{ end }}
  </ul>

  {{ template "_internal/pagination.html" . }}
</main>
