@mixin btn-color($bg, $color: #ffffff) {
    background: var(--#{$bg});
    color: $color;
    &:hover {
        box-shadow: var(--card-shadow);
        transform: translateY(-2px);
        transition: transform 200ms ease;
    }
}

.btn {
    background: var(--nav-bg);
    margin: 0.25em;
    margin-left: 0;
    color: var(--text-color);
    font-size: 0.625em;
    border: none;
    padding: 1em 2em;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-body);
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 3px;
    vertical-align: bottom;
    cursor: pointer;
    svg {
        height: 1.3em;
        margin: 0 0.3em;
    }

    &:hover {
        transform: translateY(-2px);
        transition: transform 200ms ease;
    }

}

.btn:disabled,
.btn[disabled] {
    transform: translateY(0) !important;
    opacity: 0.8 !important;
    cursor: not-allowed;
 }

.btn-block {
    display: block;
    margin: 2em 0;
    width: 100%;
    img, svg {
        top: 5px;
        position: relative;
    }
}

.btn-sm {
    padding: 0.5em 1em;
}
.btn-lg {
    font-size: 1em;
    padding: 1.25em 2.5em;
}


.btn-contrast {
    background: var(--text-color);
    color: var(--nav-bg);
    &:hover {
        transform: translateY(-2px);
        transition: transform 200ms ease;
    }
}

.btn-red { @include btn-color('red');}
.btn-purple { @include btn-color('purple');}
.btn-green { @include btn-color('green'); }
.btn-blue { @include btn-color('blue'); }
.btn-orange { @include btn-color('orange'); }