// Cards
@import './mixins.scss';

.card {
  background: var(--card-bg);
  color: var(--text-color);
  padding: 0;
  box-shadow: var(--card-shadow);
  display: inline-flex;
  flex-direction: column;
  margin: 0 0 1em;
  width: 100%;
  transform: translateY(0);
  transition: transform 300ms;
  border-radius: var(--card-radius);

  &:hover {
    transform: translateY(-3px);
    transition: transform 300ms;
  }

  &.center {
    align-items: center;
    justify-content: center;
  }

  .card-content {
    padding: 1em;
  }

  @media (max-width: 768px) {
    max-width: 100%;
    width: 100%;
    display: flex;
  }
}

.snippet-list-link {
  text-decoration: none;
  margin-bottom: 10px;
  text-align: left;
  display: block;
  padding: 1em;
}

.card-course {
  max-width: 720px;
  text-align: center;
  margin: 1em auto;
}

.card-lesson {
  max-width: 650px;
  overflow: hidden;
  font-weight: 300;
}

.card-outline {
  box-shadow: none;
  border: var(--h-border);
  border-width: 3px;
  background: none;
}

.well {
  background: var(--nav-bg);
  box-shadow: var(--card-shadow);
  padding: 1em;
}

@mixin color-box($bg) {
  background: var(--#{$bg});
  color: white;
  h3 {
    color: white;
  }
  .box-icon {
    background: var(--#{$bg}-dark);
    color: white;
  }
}

.box {
  background: var(--nav-bg);
  color: var(--h-color);
  display: flex;
  min-height: 100px;
  margin: 0.5em 0;
  // border-radius: 0px;
  .box-icon {
    display: flex;
    color: var(--text-color);
    align-items: center;
    justify-content: center;
    width: 10%;
    min-width: 3em;
    max-width: 5em;
    svg {
      width: 33%;
      opacity: 0.85;
    }
  }
  .box-content {
    display: flex;
    flex-direction: column;
    padding: 1em;
    align-items: flex-start;
    h2,
    h3,
    h4,
    a {
      color: currentColor;
      border: none;
      margin: 0;
    }
    a {
      text-decoration: underline;
    }
    p {
      line-height: 1.5;
    }
  }
}

.box-sm {
  font-size: 0.9em;
  min-height: 0;

  margin: 0;
  .box-content {
    padding: 0.3em;
    padding: 0.75em 0.3em;
  }
}

.box-red {
  @include color-box('red');
}
.box-green {
  @include color-box('green');
}
.box-orange {
  @include color-box('orange');
}
.box-blue {
  @include color-box('blue');
}
.box-purple {
  @include color-box('purple');
}

.box-bookmark {
  background: var(--tag-bg);
}

.notification {
  position: fixed;
  // width: 100%;
  left: 4em;
  right: 1em;
  bottom: 2em;
  z-index: 9999;
  margin: 0;
  opacity: 0.95;

  &.hide {
    transform: translateX(100%);
    transition: all 300ms ease-out;
    opacity: 0;
  }
}

.notification-close {
  position: absolute;
  right: 1em;
}

.post-video {
  margin: 0 auto;
}

.post-title,
.page-title {
  font-size: 3em;
  text-align: center;
  padding-bottom: 0.5em;
}

.course-title {
  font-size: 2em;
  text-align: left;
  padding-bottom: 0.5rem;
}

.page-title {
  text-align: left;
}

.post-info {
  display: flex;
  background: var(--nav-bg);
  box-shadow: var(--card-shadow);
  min-height: 150px;
  margin: 0 auto;
  padding: 1em;

  .post-detail {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
  }

  .post-description {
    text-align: left;
    padding: 0.5em;
    font-size: 0.92em;
  }

  .post-buttons {
    margin-bottom: auto;
  }
  .post-tags {
    text-align: right;
  }
}

.content-main {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  min-width: 0;
}

.content-article {
  width: 75%;
  margin: 1em 2.5em;
  &.no-toc {
    width: 100%;
  }

  h2 {
    border-bottom: var(--h-border);
    padding-bottom: 0.7em;
  }

  h3 {
    color: var(--text-color);
  }

  ol,
  ul {
    font-weight: 300;
    color: var(--h-color);
    font-size: 1.1em;
  }

  p {
    line-height: 1.8;
  }

  em {
    font-weight: bold;
  }

  strong {
    font-weight: 700;
    font-size: 0.9em;
    // text-transform: uppercase;
    color: var(--h-color);
  }

  p a {
    // border-bottom: 3px solid #b4e7f8;
    color: var(--h-color);
    font-weight: 600;
    box-shadow: inset 0 -3px 0 #b4e7f8;
    transition: background 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
    &:hover {
      background-color: rgba(0, 255, 242, 0.3);
    }
  }
}
// Table of Contents

.toc {
  min-width: 250px;
  margin-right: 0.5em;
  nav {
    border-top-left-radius: var(--card-radius);
    border-bottom-left-radius: var(--card-radius);
    margin-bottom: 1em;
    background: var(--nav-bg);
    padding: 0.5em;
    max-height: 80vh;
    margin-top: 1em;
    overflow-y: auto;
    position: sticky;
    top: 30px;
    box-shadow: var(--toc-shadow);
    @include scrollbar;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        padding: 0.5em 0.5em;

        a {
          color: var(--blue);
          font-weight: 500;
          &:hover {
            color: var(--purple);
            transition: color 0.4s;
            border-bottom: 1px solid var(--purple);
          }
          transition: color 0.4s;
        }
      }
    }
    ul li ul {
      //    ul li ul li ul,
      font-size: 0.75em;
      font-weight: 500;

      margin-left: 5px;
      a {
        color: var(--text-color);
      }
    }
  }
}

// Video Formatting

.vid {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  iframe,
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.vid-center {
  margin: 0 auto;
  // max-width: 75%;
}

video,
video-player,
.video-overlay {
  width: 100%;
  max-width: 1920px;
}

.video-overlay {
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    45deg,
    var(--nav-bg) 25%,
    var(--background) 25%,
    var(--background) 50%,
    var(--nav-bg) 50%,
    var(--nav-bg) 75%,
    var(--background) 75%,
    var(--background) 100%
  );
  background-size: 56.57px 56.57px;
  // padding: 20% 0;
  // margin: 0 auto;
  // max-height: 0;
  aspect-ratio: 16/9;
}

.err-404 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  svg {
    width: 20%;
  }
}

@media (max-width: 1024px) {
  .content-main {
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
  .toc,
  .content-article,
  .content-main {
    position: static;
    width: 100%;
  }
  .toc {
    margin-left: 0;
  }
  .content-article {
    margin: 0;
  }
}

.chapter-nav {
  display: flex;
  padding: 1.5em 0;

  a {
    max-width: 75%;
    background: var(--overlay-bg);
  }

  .chapter-prev {
    margin-right: auto;
  }

  .chapter-next {
    align-self: flex-end;
    max-width: 400px;
  }
}

.chapter-item {
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  &:hover {
    transform: scale(1.02);
    background: var(--tag-bg);
  }

  .video-labels {
    font-size: 0.9rem;
    margin-left: auto;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.home-features {
  .card {
    min-height: 240px;
  }
}

.home-hero {
  margin-top: 3em;
  padding: 4rem 7vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));


}

@media screen and (max-width: 768px) {
  .home-hero {
    display: flex;
    flex-direction: column;
  }

  .hero-buttons {
    display: flex;
    justify-content: center;

    .btn {
      margin-left: 0;
    }

    .btn + .btn {
      margin-left: .5em;
    }

    .btn:last-child {
      margin-right: 0;
    }
  }

  .hero-vid {
    margin-top: 1.5em;
  }
}

.hero-content {
  display: flex; 
  flex-direction: column;
  justify-content: space-between; 
  padding: 0 2rem;
}

.hero-vid {
  // max-width: 80vw;
}

.snippet-title {
  font-size: 2em;
  padding-bottom: 10px;
  border-bottom: var(--h-border);
}

.user-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-weight: bold;
  font-size: 1.25em;
  img {
    width: 1.5em;
    border-radius: var(--card-radius);
    margin-right: 0.25em;
  }
}

.health-check {
  .box-icon {
    color: white;
  }
  p {
    font-family: var(--font-code);
    font-size: 0.9em;
  }
}

.author-headline {
  margin-top: 5rem;

  .author-avatar {
    text-align: center;
    img {
      max-width: 175px;
      height: 175px;
      border-radius: 50%;
      box-shadow: var(--toc-shadow);
    }
  }
}

.author-snip {
  display: flex;
  justify-content: left;
  font-weight: 500;
  margin: 20px 0;

  .author-avatar {
    img {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      box-shadow: var(--nav-shadow);
      margin-right: 0.5em;
    }
  }
}

.lesson-type {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em;
}


.the-end {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  padding: 2em 0;
}

.content-pad {
  padding: 0 3em;
  margin-bottom: 2em;
  @media (max-width: 768px) {
    padding: 0 0.5em;
  }
}

.dashboard-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 200px;
  margin-bottom: 1em;
  border-radius: 12px;
}

.login-wrapper {
  max-width: 512px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--background);
  padding: 1em;
  box-shadow: var(--toc-shadow);
  margin-bottom: 4em;
  &.in-modal {
    margin-top: 4em;
  }
}

.title-box {
  display: inline-block;
  margin: 1rem auto;
  background: var(--h-color);
  color: var(--background);
  padding: 0.5rem;
}

.stackblitz {
  width: 100%;
}

.brand-list {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  list-style: none;
  margin: 10px 5vw;
  li {
    margin: 0 10px;
    img {
      max-height: 50px;
    }
  }
}

.pagination {
  display: flex;
  list-style: none;
  justify-content: center;
  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
    padding: 0;
  }

  .page-item {
    margin: 0.5em;
    padding: 0;
    &.active,
    &.disabled {
      // color: var(--background);
      opacity: 0.5;
      transform: translateY(-2px);
      cursor: default;
    }
    &.disabled {
      background: none;
    }
    a {
      color: var(--text-color);
      padding: 1em 2em;
    }
  }
}

.insta {
  display: flex;
  justify-content: center;
}

.chapters {
  z-index: 99;
}

.chapters-list {
  max-width: 998px;
  margin: 0 auto;
}

.chapters-sticky {
  position: sticky;
  top: 0px;
  background: var(--purple);
  text-align: center;
}

.chapters-list-fixed {
  position: fixed;
  width: clamp(250px, 24vw, 500px);
  overflow-y: scroll;
  height: 100vh;
  top: 0px;
  left: 0px;
  font-size: 0.9em;
  padding: 0 1rem;
  padding-top: 70px;
  background: var(--nav-bg);

  h3 {
    margin: 1rem 0 .25rem;
  }

  @include scrollbar;

  @media screen and (max-width: 768px) {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
}

.chapters-wrap {
  margin-bottom: 2rem;
}

.course-article {
  margin-left: clamp(260px, 25vw, 500px);
  padding: 0 2rem;
  @media screen and (max-width: 768px) {
    margin-left: 0;
  }
}

.tweet-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 32px;
    max-width: 1200px;
    margin: 0 auto 48px;
    padding-bottom: 24px;
}

.tweet-card {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 3rem 2rem;
    margin-bottom: 2rem;
    background: var(--card-bg);
    border-radius: 8px;
    box-shadow: var(--card-shadow);
    line-height: 1.5;

    .tweet-user {
      display: flex;
      margin-bottom: 2rem;
      img {
        width: 48px;
        height: 48px;
        margin-right: 12px;
        border-radius: 100%;
      }
    }

    .tweet-details {
      display: flex;
      flex-direction: column;
    }

    .tweet-name {
      font-weight: 700;
      font-size: 1.25rem;
    }

    .tweet-content {
      font-weight: 300;
    }

    .tweet-icon {
      position: absolute;
      right: 24px;
      color: #E3E9F0;
      svg {
        color: var(--h-color);
        width: 1.5rem;
        height: 1.5rem;
      }
    }
    
}

.brand-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  place-items: center;
  padding: 4rem 1rem;
  margin: 4rem 0;
  img {
    max-width: 200px;
    margin: 2rem;
    filter: grayscale(100%);
  }
}