// Cards
@import './mixins.scss';

.card {
  background: var(--card-bg);
  color: var(--text-color);
  padding: 0;
  box-shadow: var(--card-shadow);

  // max-width: calc(33% - 2em);
  display: inline-flex;
  flex-direction: column;
  margin: 0 0 1em;
  width: 100%;

  // margin: 1em;
  transform: translateY(0);
  transition: transform 300ms;

  &:hover {
    transform: translateY(-3px);
    transition: transform 300ms;
  }

  &.center {
    align-items: center;
    justify-content: center;
  }

  .card-content {
    padding: 1em;
  }


  @media (max-width: 768px) {
    max-width: 100%;
    width: 100%;
    display: flex;
  }
}

.card-lesson {
  max-width: 500px;
}

.card-outline {
  box-shadow: none;
  border: var(--h-border);
  border-width: 3px;
  background: none;
}

.well {
  background: var(--nav-bg);
  box-shadow: var(--card-shadow);
  padding: 1em;
}

@mixin color-box($bg) {
  background: var(--#{$bg});
  color: white;
  h3 { color: white; }
  .box-icon {
    background: var(--#{$bg}-dark);
    color: white;
  }
}

.box {
  background: var(--nav-bg);
  color: var(--h-color);
  display: flex;
  min-height: 100px;
  margin: 0.5em 0;
  // box-shadow: var(--card-shadow);
  .box-icon {
    display: flex;
    color: var(--text-color);
    align-items: center;
    justify-content: center;
    width: 10%;
    min-width: 3em;
    max-width: 5em;
    svg {
      width: 33%;
      opacity: 0.5;
    }
  }
  .box-content {
    display: flex;
    flex-direction: column;
    padding: 1em;
    align-items: flex-start;
    h2, h3, h4, a {
      color: currentColor;
      border: none;
      margin: 0;
    }
    a {
      text-decoration: underline;
    }
  }
}

.box-sm {
  font-size: 0.9em;
  min-height: 0;
  p {
    margin: 0.1em;
  }
  .box-content {
    padding: 0.3em;
  }

}


.box-red {
  @include color-box('red');
}
.box-green {
  @include color-box('green');
}
.box-orange {
  @include color-box('orange');
}
.box-blue {
  @include color-box('blue');
}

.notification {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 9999;
  margin: 0;

  &.hide {
    transform: translateX(100%);
    transition: transform 300ms ease-out;
  }
}

.notification-close {
  position: absolute;
  right: 1em;
}

.post-video {
  margin: 0 auto;
}

.post-title, .page-title {
  font-size: 3em;
  text-align: center;
  padding-bottom: 0.5em;
}

.page-title {
  text-align: left;
}

.post-info {
  display: flex;
  // background: var(--card-bg);
  box-shadow: var(--card-shadow);
  min-height: 150px;
  margin: 0 auto;
  border-left: var(--h-border);
  border-bottom: var(--h-border);

  .post-detail {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
  }

  .post-description {
    text-align: left;
    padding: 0.5em;
  }

  .post-buttons {
    margin-bottom: auto;
  }
  .post-tags {
    text-align: right;
  }
}

.content-main {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  min-width: 0;
}


.content-article {
  width: 75%;
  margin: 1em 2.5em;
  &.no-toc {
    width: 100%;
  }

  h2 {
    border-bottom: var(--h-border);
    padding-bottom: 0.7em;
  }

  h3 {
    color: var(--text-color);
  }
}
// Table of Contents

.toc {
  position: sticky;
  top: 20px;
  width: 25%;
  min-width: 250px;
  margin-left: 0.5em;
  nav {
    margin-bottom: 1em;
    background: var(--nav-bg);
    max-height: 80vh;
    margin-top: 1em;
    overflow-y: auto;
    position: sticky;
    top: 20px;
    box-shadow: var(--toc-shadow);
    @include scrollbar;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        padding: 0.5em 0.5em;
        border-bottom: 1px solid var(--gray-dark);
        a {
          color: var(--blue);
          font-weight: 500;
        }
      }
    }
    ul li ul li ul {
      font-size: 0.75em;
      font-weight: 500;

      margin-left: 5px;
      a {
        color: var(--text-color);
      }
    }
  }
}

// Video Formatting

.vid {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  iframe, video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

video, video-player, .video-overlay {
  width: 100%;
  max-width: 1920px;
}

.video-overlay {
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(45deg, var(--nav-bg) 25%, var(--background) 25%, var(--background) 50%, var(--nav-bg) 50%, var(--nav-bg) 75%, var(--background) 75%, var(--background) 100%);
  background-size: 56.57px 56.57px;
  padding: 20% 0;
  margin: 0 auto;
  max-height: 0;
}


.err-404 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  svg {
    width: 20%;
  }
}


@media (max-width: 1024px) {
  .content-main {
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
  .toc,
  .content-article,
  .content-main {
    position: static;
    width: 100%;

  }
  .toc {
    margin-left: 0;
  }
  .content-article {
    margin: 0;
  }
}

.chapter-nav {
  display: flex;
  padding: 1.5em 0;

  a {
    max-width: 75%;
    background: var(--overlay-bg)
  }

  .chapter-prev {
    margin-right: auto;
  }

  .chapter-next {
    align-self: flex-end;
    max-width: 400px;
  }
}

.home-features {
  .card {
      min-height: 240px;
  }
}

.snippet-title {
  font-size: 2em;
  padding-bottom: 10px;
  border-bottom: var(--h-border);
}

.user-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-weight: bold;
  img { width: 1.5em; border-radius: 0.25em; margin-right: 0.25em; }
}

.health-check {
  .box-icon {
    color: white;
  }
  p {
    font-family: var(--font-code);
    font-size: 0.9em;
  }
}

.author-headline {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  .author-avatar {
    img {
      max-width: 175px;
      border-radius: 50%;
      box-shadow: var(--toc-shadow);
    }
  }
}

.author-snip {
  display: flex;
  justify-content: left;
  font-weight: 500;

  .author-avatar {
    img {
      max-width: 48px;
      border-radius: 50%;
      box-shadow: var(--nav-shadow);
      margin-right: 0.5em;
    }
  }
}

.lesson-type {
  position: absolute;
  bottom: -0.33em;
  right: -0.33em;
  background: var(--code-bg);
  a {
    color: var(--h-border);
  }
  padding: 0.5em;
  border-radius: 50%;
}


.the-end {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  padding: 2em 0;
}


.content-pad {
  padding: 0 3em;
  margin-bottom: 2em;
  @media (max-width: 768px) {
    padding: 0 0.5em;
  }
}

