fieldset {
    padding: 0;
    margin: 0;
    border: none;
}

label {
    font-weight: bold;
    font-style: italic;
    margin: 0.5em 0;
    display: inline-block;
}

.textarea, .input {
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid var(--gray3);
    background: var(--nav-bg);
    font-size: 1em;
    font-weight: 500;
    color: var(--h-color);
    outline: none;
    display: block;
    font-family: var(--font-body);

    &::placeholder {
        color: var(--text-color);
    }

    &:focus {
        border-bottom: 3px solid var(--text-color);
    }

    &.ng-dirty.ng-invalid {
        border-bottom: 3px solid var(--red);
    }

    &.ng-valid.ng-dirty {
        border-bottom: 3px solid var(--green);
    }

}

.textarea {
    min-height: 150px;
    font-size: 0.95em;
    font-weight: 400;
}