@import './mixins.scss';
$maxWidth: 70px;


///// TOPNAV /////

.topnav {
  position: fixed;
  background: var(--nav-bg);
  box-shadow: var(--nav-shadow);
  display: flex;
  flex-direction: row;
  width: 100%;
  z-index: 999;
  transition: top 0.3s ease;
  border-bottom: var(--card-border);
  font-size: 1.2rem;
  height: var(--nav-width);

  .item {
    &:hover {
      .item-label {
        transform: scale(1) translateY(40px);
      }
    }

    .item-label {
      position: absolute;
      transform: scale(0) translateX(0px);
      transition: transform 200ms ease;
      opacity: 0.8;
    }
  }

  @media (max-width: 768px) {
    margin: 0;
  }
}

.item {
  position: relative;
  height: var(--nav-width);
  max-height: $maxWidth;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0 1em;
  svg,
  img {
    width: 1.5em;
    height: 1.5em;
  }
  a {
    color: var(--text-color);
  }
  .btn {
    padding: 0.5em 1em;
  }

  &.last {
    margin-right: 5vw;
  }
}

a.item {
  color: var(--text-color);
}

.logo {
  width: var(--nav-width);
  max-width: $maxWidth;
  transition: opacity 300ms;
  svg {
    width: 2em;
    height: 2em;
  }
  &:hover {
    svg {
      fill: var(--orange-pink);
    }
  }

  @media screen and (max-width: 768px) {
    margin-left: 0.25em;
  }
}

.item-text {
  transition: color 0.3s;
  flex-direction: row;
  &:hover {
    color: var(--h-color);
  }

  svg {
    width: 1em;
    height: 1em;
    margin-right: 0.25em;
  }
}

.google-login-img {
  position: relative;
  top: 3px;
}
.pro-link {
  color: white;
}


.topnav-logo {
  min-width: 15vw;
}

.topnav-links {
  margin: 0 auto;
  font-family: var(--font-head);
  font-weight: normal;
  @media screen and (max-width: 768px) {
    width: 0;
  }
}

.topnav-icons {
  min-width: 15vw;
  @media screen and (max-width: 768px) {
    svg {
      width: 1.5rem;
    }

    .item {
      margin: 0 0.75em;
    }
  }
}

.item-avatar {
  position: relative;
  top: 3px;
}

.item-avatar img {
  height: 2em;
  width: 2em;
  border-radius: 50%;
}


 

theme-btn,
menu-toggler {
  visibility: hidden;
}

menu-toggler {
  z-index: 999;
}

/// DUOTONE ICONS

.dark-theme {
  .item {
    .fk-primary {
      color: var(--gray3);
    }
    .fk-secondary {
      color: var(--gray4);
    }

    &:hover {
      .fk-primary {
        color: var(--orange);
      }
      .fk-secondary {
        color: var(--orange-light);
      }
    }
  }
}

.light-theme {
  .item {
    .fk-primary {
      color: var(--gray2);
    }
    .fk-secondary {
      color: var(--gray3);
    }

    &:hover {
      transition: color 500ms ease;
      .fk-primary {
        color: var(--orange);
      }
      .fk-secondary {
        color: var(--orange-dark);
      }
    }
  }
}

.topnav .item {
  &:hover {
    .fk-primary {
      color: var(--text-color);
    }
    .fk-secondary {
      color: var(--h-color);
    }
  }
}

.item {
  .fk-primary,
  .fk-secondary {
    transition: color 500ms ease;
  }
  &:hover {
    .fk-primary,
    .fk-secondary {
      transition: color 500ms ease;
    }
  }
}
