.payment-card {
    background: var(--gray6);
}

.form-stripe {
    // margin-bottom: 25px;
}

.card-stripe {
    margin: 25px 0;
    border: 2px dashed var(--gray3);
    padding: 1em;

}

.errors-stripe {
    margin: 0 0 10px;
}

.btn-stripe {
    
}