
.qna-header {
    margin-top: 75px;
    text-align: center;

    h2 {
        text-align: center;
        border-bottom: var(--h-border);
        padding-bottom: 10px;
        font-size: 2em;
    }
}

.utterances {
    max-width: 100%;
}

.questions {
    margin-bottom: 100px;
}