.slack-thread {
    margin: 1em 0;
    box-shadow: var(--card-shadow);
    background: var(--nav-bg);
    border: 2px solid var(--tag-bg);
    padding: 1em;
    border-radius: 10px;
}

.toggle-replies {
    font-weight: bold;
    color: var(--blue);
    text-decoration: underline;
    cursor: pointer;
}

.slack-content {
    padding: 1em;
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1.5;
}

.slack-reply {
    margin: 1em 0 1em 1em;
    .slack-content {
        font-size: 1em;
        font-weight: 400;
    }
}

.slack-link {
    font-size: 0.85em;
}

.questions {
    max-width: 998px;
    margin: 0 auto;
}

.slack-cmd {
    box-shadow: var(--card-shadow);
    background: var(--card-bg);
    padding: 1em;
}