.tag {
    display: inline-block;
    border-radius: 3px;
    padding: 0.2em 0.5em 0.3em;
    border-radius: 2px;
    background: var(--tag-bg);
    color: var(--text-color);
    font-weight: 600;
    margin: 0.25em 0.1em;
}

h1.tag {
    margin-left: 0;
    margin-right: 0;
}

.tag-sm {
    font-size: 0.7em;
    display: inline-block;
    letter-spacing: 0.15ch;
    font-weight: 400;
}

.tag-lg {
    font-size: 1.2em;
    border-radius: 4px;
}

.tag-bg {
    background: var(--background);
}

.tag-pro,
.tag-green {
    background: var(--green);
    color: white;
}

.tag-purple {
    background: var(--purple);
    color: white;
}

.tag-blue {
    background: var(--blue);
    color: white;
}

.tag-contrast {
    background: var(--text-color);
    color: var(--background);
}

.tag-javascript {
    background: #f0db4f;
    ;
    color: black;
}

.tag-typescript {
    background: #2775c3;
    ;
    color: white;
}

.tag-angular {
    background: #dc0530;
    color: #fff;
}

.tag-firebase {
    background: #ffcb2b;
    color: #12181a;
}

.tag-vue {
    background: #41b883;
    color: #35495e;
}

.tag-rxjs {
    background: var(--pink);
    color: var(--gray5);
}

.tag-node {
    background: #90c53f;
    color: #46483d;
}

.tag-cloud-functions {
    background: var(--blue);
    color: white;
}

.tag-flutter {
    background: #54c5f8;
    color: #003b6c;
}

.tag-google-maps {
    background: #33a668;
    color: #f8d845;
}

.tag-android {
    background: #a4c34a;
    color: white;
}

.tag-stripe,
.tag-fauna {
    color: white;
    background: #6675e0;
}

.tag-machine-learning {
    color: white;
    background: var(--purple-light);
}

.tag-python {
    color: #ffda5d;
    background: #3879ab;
}

.tag-svelte {
    color: #ffffff;
    background: #ff3e00;
}

.tag-react {
    color: #00d8ff;
    background: #222;
}

.tag-ios {
    color: #fff;
    background: #000;
}

.tag-mvp,
.tag-minimum-viable-product {
    color: white;
    background-image: linear-gradient(to right, #ff8901, #db1d5f);
    font-weight: bold;
}

.tag-ionic {
    background: white;
    color: #4a8afc;
}

.tag-nest {
    color: #E0234E;
    background: #000;
}

.tag-graphql {
    color: white;
    background: #e10097;
}

.tag-electron {
    color: #313244;
    background: #adecf3;
}

.tag-css {
    color: #313244;
    background: #f954be;
}

.tag-github {
    color: #fff;
    background: #24292e;
}

.tag-deno {
    color: #e1e9d5;
    background: #222220;
}

.tag-docker {
    color: #ffffff;
    background: #2496ed;
}

.tag-nextjs {
    color: #ffffff;
    background: #000000;
}

.tag-rpi {
    color: #000000;
    background: #BC1142;
}

.tag-go {
    color: #ffffff;
    background: #00ADD8;
}