$colors: (
  red: hsl(348, 100%, 61%),
  blue: #498afb,
  orange: #fa8142,
  green: #09c372,
  purple: hsl(265, 50%, 60%),
  yellow: hsl(48, 100%, 67%),
  pink: #ff4088
);


@mixin default-theme {
  --background: var(--gray6);
  --text-color: var(--gray2);
  --h-color: white;
  --nav-shadow: 4px 0 10px -3px #010101;
  --card-shadow: 0 4px 8px rgba(0, 0, 0, 0.38);
  --toc-shadow: rgba(0, 0, 0, 0.7) 0px 10px 20px 0px;
  --nav-bg: var(--gray5);
  --tag-bg: var(--gray4);
  --code-bg: #22262f; // #1d2327;
  --card-bg: var(--gray5);
  --overlay-bg: rgba(0, 0, 0, 0.9);
  --h-border: 2px dashed var(--nav-bg);
  --nav-border: 2px dashed var(--text-color);
  transition: all 0.3s ease;
}

.dark-theme {
  @include default-theme;
}

.light-theme {
  --background: white;
  --text-color: var(--gray4);
  --h-color: var(--gray6);
  --nav-shadow: 4px 0 10px -3px #c1c1c1;
  --card-shadow: 0 4px 8px rgba(0, 30, 84, 0.12);
  --toc-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px 0px;
  --nav-bg: var(--gray1);
  --tag-bg: var(--gray2);
  --code-bg: #f5f5f5;
  --card-bg: var(--gray1);
  --form-bg: var(--gray1);
  --overlay-bg: rgba(255, 255, 255, 0.9);
  --h-border: 2px dashed var(--gray1);
  --nav-border: 2px dashed var(--text-color);
  transition: all 0.5s ease;
}

.colorful-theme {
  --background: #fbf8ee;
  --text-color: #a08fa2;
  --h-color: #742b66;
  --nav-shadow: 4px 0 10px -3px #c1c1c1;
  --card-shadow: 0 4px 8px rgba(0, 30, 84, 0.12);
  --toc-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px 0px;
  --nav-bg: #efeae8;
  --tag-bg: #e3d0e1;
  --code-bg: #efeae8;
  --card-bg: #efeae8;
  --form-bg: #eeeae7;
  --overlay-bg: rgba(255, 255, 255, 0.9);
  --h-border: 2px dashed var(--gray1);
  --nav-border: 2px dashed var(--text-color);
  transition: all 0.5s ease;
}

:root {
  @each $name, $color in $colors {
    --#{$name}: #{$color};
    --#{$name}-dark: #{darken($color, 7%)};
    --#{$name}-light: #{lighten($color, 7%)};
  }

  --gray0: #f8f8f8;
  --gray1: #dbe1e8;
  --gray2: #b2becd;
  --gray3: #6c7983;
  --gray4: #454e56;
  --gray5: #2a2e35;
  --gray6: #12181b;

  --nav-width: 4em;

  --font-body: 'ratio', sans-serif;
  --font-head: 'ratio', sans-serif; // effra erbaum
  --font-code: 'fira-mono', monospace;
  --font-size: 20px;

  --max-width-bp: 768px;

  --orange-pink: linear-gradient(
    to bottom right,
    var(--orange-light),
    var(--orange-dark) 85%
  );
  --orange-pink-dark: linear-gradient(
    to bottom right,
    var(--orange-light),
    var(--orange-dark) 50%
  );

  @include default-theme;
}


body {
  background: var(--background);
  color: var(--text-color);
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-size);
  // padding-top: 4em;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  margin-left: calc(var(--nav-width) + 0.5em);
  // margin-right: 0.5em;
  padding: 1em;
  flex: 1;
  transition: margin 0.3s ease;
}

a {
  color: var(--blue);
  text-decoration: none;
}

em {
  color: var(--h-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--h-color);
  font-family: var(--font-head);
  font-weight: 800;
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
}

i {
  svg {
    position: relative;
    width: 1em;
    margin: 0 3px;
    top: 0.125em;
  }
}

.zero-top {
  svg { top: 0; }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  min-height: 250px;
  font-size: 0.85em;
  opacity: 0.8;
}

hr {
  border: none;
  border-bottom: var(--h-border);
}

li {
  padding: 0.5em 0;
}


blockquote {
  position: relative;
  padding-left: 1em;
  border-left: var(--nav-bg) 3px dashed;
  font-size: 1.2em;
  font-weight: 300;
}

// Color Utilities

@each $name, $color in $colors {
  .#{$name} {
    color: $color;
  }

  .#{$name}-bg {
    background: $color;
  }
}

// Random Stuff

::selection {
  background: var(--green);
  color: white;
}

@media (max-width: 768px) {
  :root {
    --font-size: 15px;
    --nav-width: 3em;
  }

  main {
    margin-left: 0.5em;
  }
}

google-login {
  visibility: hidden;
}
