// Text and Colors

.white {
  color: white;
}

.text-contrast {
  color: var(--h-color);
}

.text-sm {
  font-size: 0.75em;
}
.text-lg {
  font-size: 1.5em;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-italic {
  font-style: italic;
}

.font-head {
  font-family: var(--font-head) !important;
  font-weight: normal !important;
}

.hi {
  color: rgb(203, 255, 143);
  background-color: #4e5556;
  padding: 0 4px;
  border-radius: 3px;
  font-weight: normal;
}

.hi-alt {
  background-color: var(--card-bg);
  padding: 0 4px;
  border-radius: 3px;
}

.hi-gradient {
  color: var(--h-color);
  background-image: linear-gradient(90deg, var(--orange), var(--pink));
  padding: 0 4px;
  border-radius: 3px;
}


.sub-heading {
  display: block;
  font-size: 0.5em;
  color: var(--text-color);
  font-weight: 400;
  font-family: var(--font-body);
}

.home-heading {
  font-size: 1.6em;
}
.home-sub-heading {
  font-size: 0.8em;
  color: var(--text-color);
  font-weight: 400;
  font-family: var(--font-code);
  text-transform: uppercase;
}

.downcase {
  text-transform: lowercase;
}

.emoji {
  font-style: normal;
}

.emoji-btn {
  margin: 0 0.33em;
  font-size: 1.25em;
}

.red {
  color: var(--red);
}

.red-bg {
  background: var(--red);
}

.orange {
  color: var(--orange);
}

.spacer {
  margin: 1em 0;
}

.text-thin {
  font-weight: 300;
}

.swap-text {
  opacity: 1;
  transition: opacity 300ms ease;
}
text-cycle {
  opacity: 0;
  transition: opacity 300ms ease;
}

// Utils

.row-home {
  margin: 7vw 3em;
  @media screen and (max-width: 768px) {
    margin: 7vw 0;
  }
  h2 {
    font-size: 1.6em;
  }
  p {
    font-size: 1.4em;
    font-weight: 300;
  }
}

.hide-sm {
  @media screen and (max-width: 768px) {
    visibility: hidden;
    display: none;
  }
}

.hide-lg {
  @media (min-width: 768px) {
    visibility: hidden;
    display: none;
  }
}

.flex {
  display: flex;
}


.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-center-col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.no-pad {
  padding: 0 !important;
}

.no-animate {
  transform: none !important;
  transition: none !important;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.border-bottom {
  border-bottom: var(--h-border);
}

.shadow {
  box-shadow: var(--card-shadow);
}

.pb-1 {
  padding-bottom: 1rem;
}

// Cover Images

.aspect-16x9 {
  padding-top: 56.25%;
  background: var(--nav-bg);
}

// Social Media

.twitter-bg {
  background: #1da1f2;
}
.twitter {
  color: #1da1f2;
}
.github {
  color: #333;
}
.github-bg {
  background: #333;
}
.youtube {
  color: #ff0a00;
}
.slack {
  color: #ce1f5b;
}

.subtext {
  font-size: 0.9em;
  color: var(--text-color);
}

.gde-logo {
  max-width: 300px;
}

// Animation

@keyframes delayedFade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.delayed-fade {
  animation: delayedFade 2s;
}

.gradient-text {
  background-image: linear-gradient(90deg, var(--orange), var(--pink));
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  
  &::selection {
    -webkit-text-fill-color: var(--h-color);
  }
}

