{{ define "main" }}
  <div class="prose dark:prose-invert min-w-full">
    <div class="container">
      <div class="flex flex-col md:flex-row mt-20">
        <div
          class="min-w-[50%] flex flex-col justify-center items-center text-center p-6"
        >
          <h1 class="text-6xl mb-0">
            Apprenez à coder <span class="gradient-text">intelligemment.</span>
          </h1>
          <p class="text-2xl dark:text-gray3">
            Voici un 
            <img-reveal src="/img/speed.gif"
              ><span class="text-yellow-500 font-bold"
                >gros plagiat</span
              ></img-reveal
            >
            de fireship.io pour héberger toutes sortes de
            <img-reveal src="/img/cat.gif"
              ><span class="text-pink-500 font-bold"
                >formations</span
              ></img-reveal
            >
            rédigées par les étudiants, pour les étudiants.
          </p>
        </div>
      </div>
    </div>
  </div>
{{ end }}
