
<div *ngIf="userDoc?.pro_status" class="well">
    <hr>
  <h4>Fireship.io PRO Lifetime 🚀</h4>
  <p>You are untouchable! You have full access to all content on Fireship.io forever at no additional cost</p>
</div>


<div *ngIf="subs">

  <div *ngFor="let sub of subs" class="well">

    <h4>PRO Membership</h4>

    <ul>
      <li>Subscription ID {{ sub.id }}</li>
      <li>Status: {{ sub.status }}</li>
      <li *ngIf="sub.status !== 'canceled'">Next payment due {{ sub.current_period_end * 1000 | date }} for ${{ sub.plan.amount | usd }}</li>
    </ul>

    <button [disabled]="canceling" *ngIf="sub.status !== 'canceled'" class="btn btn-red btn-sm" (click)="cancel(sub.id)">
      Cancel
    </button>

    <div *ngIf="canceling">
        <loading-spinner></loading-spinner> <span *ngIf="canceling">Canceling PRO membership 😭</span>
    </div>

    <p class="red">{{ serverError }}</p>

  </div>

  <div *ngIf="!subs.length">No paid recurring subscriptions found</div>
    
</div>


<div *ngIf="loading">
    <loading-spinner></loading-spinner> Loading membership details...
</div>
