<div class="modal-overlay" [class.modal-show]="visible">

  <div class="algolia-hits">

    <div class="algolia-form-wrap">
      <input
        placeholder="explore..." class="algolia-input" type="text" #searchInput (keyup)="handleSearch(searchInput.value)">
        
        <span (click)="hide()" class="algolia-close btn btn-sm btn-red">close</span>
    </div>
      
      <a class="algolia-hit" [href]="hit.relpermalink" *ngFor="let hit of hits">
          <h4>
            <span>{{ emojiMap[hit.type] }} </span>
            <span class="hit-title" [innerHtml]="hit._highlightResult.title.value"></span>
            <span class="hit-type" [ngClass]="'hit-' + hit.type"> in {{ hit.type }}</span>
          </h4>
          <p class="hit-description" [innerHtml]="hit._highlightResult.description.value"></p>
      </a>
  </div>

</div>