@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://use.typekit.net/rcr1opg.css");

@import "./button.scss";
@import "./special-effects.scss";
@import "./courses.scss";
@import "./lessons.scss";
@import "./syntax.scss";
@import "./mixins.scss";
@import "./tags.scss";
@import "./ui.scss";

html {
  display: block;
  font-size: 16px;
  @media (min-width: 1024px) {
    font-size: 20px;
  }
}

body {
  @apply dark:bg-gray7 dark:text-gray1;
  background: linear-gradient(
    176deg,
    theme("colors.eirbyellow") 40%,
    rgb(250, 180, 50) 100%
  );
  min-height: 100vh;
  background-attachment: fixed;
  @include scrollbar;
}

.dark body {
  background: linear-gradient(
    176deg,
    rgb(18, 24, 27) 50%,
    rgb(32, 39, 55) 100%
  );
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-display font-normal;
}

svg {
  width: auto;
}

figure img {
  @apply mx-auto;
}

.container {
  @apply max-w-screen-2xl mx-auto px-3 md:px-8;
}

#topnav {
  background: theme("colors.black");
}

.dark #topnav {
  background: theme("colors.eirbyellow");
}

.grid-list {
  @apply grid grid-cols-1 auto-cols-max gap-6 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 list-none;
}

video-player {
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
