.active-chapter {
    @apply text-white font-bold bg-orange-500;
}

.utterances {
    @apply max-w-full;
}

.pagination {
    @apply flex list-none justify-center;
    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
      padding: 0;
    }
  
    .page-item {
      margin: 0 0.25rem;
      padding: 0;
      &.active,
      &.disabled {
        // color: var(--background);
        opacity: 0.5;
        transform: translateY(-2px);
        cursor: default;
      }
      &.disabled {
        background: none;
      }
      a {
        @apply text-gray3 no-underline bg-black bg-opacity-30;
        padding: 1em 2em;
      }
    }
  }

  .hi {
    color: rgb(203, 255, 143);
    background-color: #4e5556;
    padding: 0 4px;
    border-radius: 3px;
    font-weight: normal;
  }

//   .tweet-grid {
//     @apply grid grid-cols-1 md:grid-cols-3 auto-cols-max justify-items-center place-content-center gap-4;
// }

  .tweet-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 16px;
    max-width: 1200px;
    margin: 48px auto;
    padding-bottom: 24px;
    justify-items: center;
}

.frame-full {
  width: 100%;
  min-height: 500px;
}

quiz-modal {
  h5, h6 {
      @apply text-white font-sans font-bold;
  }
}