name: Export Firestore Data

on:
  workflow_dispatch:
  schedule:
    - cron:  '0 0 * * 0'

env:
  PROJECT_ID: fireship-app
  BUCKET: gs://fireship-app-backups
  
jobs:
  backup:
    runs-on: ubuntu-latest
    steps:
    - uses: google-github-actions/setup-gcloud@v0
      with:
        service_account_key: ${{ secrets.GCP_SA_KEY }}
        export_default_credentials: true
    - run: gcloud info
    - run: gcloud config set project $PROJECT_ID
    - run: gcloud firestore export $BUCKET