<div *ngIf="auth.user as user; else formTemplate">
      Logged in as <strong><user-data field="email"></user-data></strong>
</div>

  
  <ng-template #formTemplate>

    <h3>Create Account with Email</h3>
    
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="login-form">
      <label for="email">Email</label>
      <input type="email" class="input" formControlName="email" />

      <button [disabled]="!form.valid || isLoading || confirmation" type="submit" class="btn btn-sm">Get Login Email</button>

      <div *ngIf="isLoading"><loading-spinner></loading-spinner> loading...</div>

      <div *ngIf="confirmation">📧 Check your email to login</div>

    </form>   
  
    
  
    <p class="text-sm">By signing up you agree to the <a href="/terms">Terms of Service</a> and <a href="/privacy-policy">Privacy Policy</a>. We'll send you account-related emails on rare occasions.</p>
  </ng-template>